* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* For Desktop  */
@media screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background-color: rgb(251, 251, 251);
  }

  ::-webkit-scrollbar {
    display: none;
  }

  nav {
    background-color: white;
    height: 16vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-section {
    flex: 1;
    max-width: 10vw;
    margin-left: 6vw;
  }

  .logo {
    height: 10vh;
    cursor: pointer;
  }

  .service-section {
    flex: 4;
    gap: 4vw;
    display: flex;
    align-items: center;
    max-width: 40vw;
  }

  li {
    font-size: clamp(1.2rem, 1vw, 3rem);
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: #888;
    cursor: pointer;
    white-space: nowrap;
  }

  li::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 100%;
    height: 2.6px;
    background: linear-gradient(to right, rgb(96, 199, 255), rgb(38, 147, 242));
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.15s ease-in-out;
  }

  li:hover::after {
    transform: scaleX(1);
  }


  .username {
    position: relative;
    margin-right: 8vw;
    padding: 3vh 5vw;
    background-color: rgb(220, 248, 255);
    color: rgb(46, 213, 255);
    border-radius: 10px;
    cursor: pointer;

  }

  .username::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -2px;
    border-radius: 10px;
    border: 3px solid rgb(0, 157, 255);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .username:hover::after {
    opacity: 100%;
  }

  .hero {
    margin: 11vh 0 0 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
  }

  .right-image {
    width: 60%;
    position: relative;
    left: 150px;
    top: 30px;
  }

  h1 {
    font-size: clamp(2.4rem, 1vw, 3rem);
    color: rgb(83, 83, 83);
    width: 33vw;
    line-height: 7vh;
    padding-bottom: 4vh;
  }

  p {
    width: 100%;
    font-size: clamp(1.2rem, 1vw, 2rem);
    line-height: 4.7vh;
    color: rgb(118, 118, 118);
    padding-bottom: 4vh;
  }

  #laundry-service-title-span {
    color: rgb(0, 179, 255);
  }

  #book-service-button {
    color: white;
    background: linear-gradient(to right, rgb(34, 109, 175), rgb(47, 206, 255));
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 3.1vh 3.5vw;
    cursor: pointer;
  }

  #book-service-button i {
    padding-right: 15px;
  }

  .achievements-section {
    display: block;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
    background-color: rgb(0, 179, 255);
    height: 18vh;
    font-size: 1rem;
  }

  .achievements-section .title {
    flex: 1;
    color: rgb(71, 71, 71);
    font-size: 2.3rem;
    font-weight: bold;
    max-width: 40vw;
    margin-left: 8vw;
  }

  .achievements-section .value {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .inner-div {
    font-size: 1rem;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
  }

  .achievements:nth-child(2) {
    padding-left: 2vw;
    border-left: 3px solid rgba(255, 255, 255, 0.248);
    border-right: 3px solid rgba(255, 255, 255, 0.248);
  }

  .achievements:nth-child(3) {
    padding-left: 4vw;
  }

  .achievements {
    flex: 1;
    max-width: 18vw;
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* For Tablet  */
@media screen and (min-width: 376px) and (max-width: 767px) {


  body {
    width: 120vw;
    background-color: rgb(251, 251, 251);
  }

  nav {
    background-color: white;
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .logo-section {
    margin-left: 20px;
    width: 100px;
  }

  .logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .service-section {
    display: none;
  }

  li {
    list-style: none;
    color: rgb(183, 183, 183);
    font-size: 1.1em;
    cursor: pointer;
    white-space: nowrap;
  }

  .username {
    margin-right: 60px;
    margin-left: 60px;
    padding: 20px 25px;
    background-color: rgb(220, 248, 255);
    color: rgb(46, 213, 255);
    border-radius: 10px;
    cursor: pointer;
  }

  .hero {
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    flex: 1;
    margin-left: 7vw;
  }

  h1 {
    font-size: 37px;
    color: rgb(83, 83, 83);
    line-height: 48px;
    padding-bottom: 10px;
  }

  p {
    font-size: 24px;
    line-height: 38px;
    color: rgb(118, 118, 118);
    padding-bottom: 40px;
  }

  #laundry-service-title-span {
    color: rgb(0, 179, 255);
  }

  .right {
    flex: 1;
    margin-left: auto;
  }

  #book-service-button {
    color: white;
    background: linear-gradient(to right, rgb(34, 109, 175), rgb(47, 206, 255));
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px 50px;
    cursor: pointer;
  }

  #book-service-button i {
    margin-right: 3vw;
  }

  .achievements-section {
    position: relative;
    top: 17px;
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
    background-color: rgb(0, 179, 255);
    height: 20vh;
    font-size: clamp(1em, 1vw, 1.4em);
  }

  .achievements-section .title {
    flex: 1;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 40vw;
    margin-left: 6vw;
  }

  .inner-div {
    font-size: 0.7rem;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .achievements-section .value {
    font-size: 1rem;
    font-weight: bold;
  }

  .achievements:nth-child(2) {
    padding: 0px 4vw;
    border-left: 3px solid rgba(255, 255, 255, 0.248);
    border-right: 3px solid rgba(255, 255, 255, 0.248);
  }

  .achievements:nth-child(3) {
    padding-left: 4vw;
  }

  .achievements {
    flex: 1;
    max-width: 25vw;
  }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* For Phone  */
@media screen and (max-width: 376px) {


  body {
    background-color: rgb(251, 251, 251);
  }

  nav {
    background-color: white;
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .logo-section {
    margin-left: 20px;
    width: 100px;
  }

  .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .service-section {
    display: none;
  }

  li {
    list-style: none;
    color: rgb(183, 183, 183);
    font-size: 1.1em;
    cursor: pointer;
    white-space: nowrap;
  }

  .username {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: rgb(220, 248, 255);
    color: rgb(46, 213, 255);
    border-radius: 10px;
    cursor: pointer;
  }

  .hero {
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .left {
    margin-left: 5vw;
  }

  h1 {
    font-size: 30px;
    color: rgb(83, 83, 83);
    line-height: 42px;
    padding-bottom: 10px;
  }

  p {
    font-size: 20px;
    line-height: 38px;
    color: rgb(118, 118, 118);
    padding-bottom: 40px;
  }

  #laundry-service-title-span {
    color: rgb(0, 179, 255);
  }

  .right {
    margin-left: auto;
  }

  .right-image {
    width: 80%;
  }

  #book-service-button {
    color: white;
    background: linear-gradient(to right, rgb(34, 109, 175), rgb(47, 206, 255));
    border: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 18px 38px;
    cursor: pointer;
  }

  #book-service-button i {
    margin-right: 4vw;
  }

  .achievements-section {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    top: 17px;
    display: flex;
    align-items: center;
    color: rgb(71, 71, 71);
    background-color: rgb(0, 179, 255);
    height: 20vh;
  }

  .achievements-section .title {
    flex: 1;
    color: rgb(71, 71, 71);
    font-size: 0.8em;
    font-weight: bold;
    max-width: 40vw;
    margin-left: 5vw;
  }

  .achievements-section .value {
    font-size: 1.2em;
    font-weight: bold;
  }

  .inner-div {
    font-size: 0.6em;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .achievements:nth-child(1) {
    padding-left: 5vw;
    margin: 0;
  }

  .achievements:nth-child(2) {
    padding: 0px 10px 0px 5px;
    border-left: 3px solid rgba(255, 255, 255, 0.248);
    border-right: 3px solid rgba(255, 255, 255, 0.248);
  }

  .achievements:nth-child(3) {
    padding-left: 4vw;
  }

  .achievements {
    flex: 1;
    max-width: 25vw;
  }
}